.rmp-archive-results-widget {
  display: inline-block;
  position: relative;
  margin-left: .4rem;
  vertical-align: top;
  font-size: .9rem;

  &--excluded-post {
    display: none;
  }

  .rmp-icon {
    font-size: .9rem;
  }
}
