$red: #dc3545;
$lightRed: #e05260;
$blue: #3399ff;
$lightBlue: #4da6ff;
$green: #28a745;
$lightGreen: #2db94d;
$grey: #d9d9d9;
$darkGrey: #cccccc;
$darkerGrey: #bfbfbf;
$black: #444444;
$orange: #ffc107;
$lightOrange: #ffcc33;
