.rmp-analytics{

  margin-right: 1rem;

  &__title {
    margin-top: 2rem;
  }

  &__notice {
    margin: .1rem 0 1rem .2rem;
    font-size: .85rem;
  }

  &__table {
    table-layout: fixed;
    width: 100%;
  }

}
