.rmp-pro {
  &__subtitle {
    font-size: 1.1rem;
    text-decoration: underline;
  }

  &__feature {
    font-weight: 500;
    font-size: .9rem;
    &:before {
      content: '\2713';
      display: inline-block;
      color: $green;
      padding:0 .2rem 0 0;
      font-weight: bold;
    }
  }

  &__link {

  }

  .rmp-tab-content__input {
    width: 80%;
    max-width: 600px;
  }

}
