.rmp-schema-multiple-container {
  &__series {
    display: block;
    width: 70%;
    margin-left: 10px;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid $grey;
  }

  &__remove {
    margin-top: 1rem;
    text-align: right;
    &__btn {
      background-color: $red;
      color: white;
      font-weight: 500;
      padding: .3rem .5rem;
      border-radius: 3px;

      &:hover {
        cursor: pointer;
        background-color: $lightRed;
      }

      &--disabled {
        background-color: $lightRed;

        &:hover {
          cursor: auto;
        }
      }

    }
  }

  &__add-new {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: .5rem;
    &__btn {
      background-color: $blue;
      color: white;
      font-weight: 500;
      padding: .3rem .5rem;
      border-radius: 3px;

      &:hover {
        cursor: pointer;
        background-color: $lightBlue;
      }
    }
  }

}
